.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
    border-bottom: 1px solid var(--border-color);
}

/*.toolbar__logo {*/
/*    font-size: 1.5rem;*/
/*    font-weight: bold;*/
/*margin-right: auto;*/
/*}*/

/*.toolbar__navigation {*/
/*    display: flex;*/
/*}*/

/*.toolbar__navigation-items {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.toolbar__navigation-items li {*/
/*    margin: 0 10px;*/
/*}*/

/*.toolbar__navigation-items li a {*/
/*    text-decoration: none;*/
/*    font-size: 1rem;*/
/*    transition: color 0.3s;*/
/*}*/

/*.toolbar__navigation-items li a:hover {*/
/*    color: #ffa500;*/
/*}*/