.search-tab {
    margin: 15px;
}

.search-tab input {
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    height: 25px;
    width: 300px;
}

input:focus {
    background-color: #4646463f;
    border-color: var(--border-active-color);
    outline: none;
}